$bdx: #6d071a;
$blue: rgb(26, 137, 202);
$fond1: #fff;
$fond2:rgb(214, 212, 212);

$c1: #9356DC;
$c2: #FF79DA;
$c3: #99E2D0;
$c4: #EAEAEA;
$c5: #F6F6F6;
$c6: #F5EDFF;
$c7: #353535;
$c8: #3E3E3E;
$c9: #008665;